@font-face {
    font-family: 'Porter Sans Block';
    src: url('./porter-sans-inline-block.ttf'); /* Replace 'path/to/your/font.ttf' with the actual path to your font file  */
    font-weight: normal;
    font-style: normal;
    
}

